body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

.hidden {
    display: none;
}

#display-content div {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
}
